<app-loading-screen _ngcontent-fqq-c73="" _nghost-fqq-c46="">
    <div _ngcontent-fqq-c46="" [ngClass]="loading ? 'wrapper' : 'wrapper wrapper--loaded'">
        <div _ngcontent-fqq-c46="" class="spinner-wrapper"><svg _ngcontent-fqq-c46="" width="80" height="80" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" class="loading-spinner"><path _ngcontent-fqq-c46="" fill-rule="evenodd" clip-rule="evenodd" d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30ZM15 26.25C21.2132 26.25 26.25 21.2132 26.25 15C26.25 8.7868 21.2132 3.75 15 3.75C8.7868 3.75 3.75 8.7868 3.75 15C3.75 21.2132 8.7868 26.25 15 26.25Z" fill="#F0F0F0"></path><path _ngcontent-fqq-c46="" d="M28.125 15C29.1605 15 30.0123 14.1563 29.8844 13.1287C29.0397 6.34063 23.6594 0.960327 16.8713 0.115587C15.8437 -0.0122931 15 0.839466 15 1.875C15 2.91053 15.8458 3.73362 16.8671 3.90423C21.5844 4.6922 25.3078 8.41557 26.0958 13.1329C26.2664 14.1542 27.0895 15 28.125 15Z" fill="#B8B8B8"></path></svg></div>
    </div>
</app-loading-screen>
<article _ngcontent-rvj-c73="" class="product">
    <section _ngcontent-rvj-c73="" class="product__header">
        <div _ngcontent-rvj-c73="" class="product__image">
            <app-aspect-ratio-image _ngcontent-rvj-c73="" _nghost-rvj-c47="">
                <div _ngcontent-rvj-c47="" class="product-image__wrapper" style="width: 640px; height: 422px;"><img _ngcontent-rvj-c47="" class="product-image__image" src="https://dml32v1x15q41.cloudfront.net/v1/image/static/59579505-c016-4678-8205-cfe2528a0bff/640x422" alt="Espresso" width="640" height="422" srcset="https://dml32v1x15q41.cloudfront.net/v1/image/static/59579505-c016-4678-8205-cfe2528a0bff/800x527 2x">
                    <!---->
                    <!---->
                    <!---->
                </div>
            </app-aspect-ratio-image>
            <!---->
        </div>
        <!---->
        <!---->
        <h3 _ngcontent-rvj-c73="" class="product__title"><span _ngcontent-rvj-c73="">Espresso</span>
            <app-product-base-price _ngcontent-rvj-c73="" _nghost-rvj-c51="">
                <div _ngcontent-rvj-c51="" class="product-base-price">
                    <div _ngcontent-rvj-c51="" class="product-base-price__price">
                        <!---->
                        <!---->
                        <!---->
                        <small _ngcontent-rvj-c51="">
        <app-currency-cost _ngcontent-rvj-c51=""><bdi dir="ltr">KWD 1.100</bdi></app-currency-cost>
      </small>
                        <!---->
                    </div>
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                </div>
                <!---->
            </app-product-base-price>
        </h3>
        <!---->
    </section>
    <div _ngcontent-rvj-c73="" class="product__description-wrapper">
        <p _ngcontent-rvj-c73="" class="product__description"> Espresso shot. </p>
        <!---->
        <!---->
    </div>
    <section _ngcontent-rvj-c73="">
        <div _ngcontent-rvj-c73="" class="product-property">
            <div _ngcontent-rvj-c73="">
                <h3 _ngcontent-rvj-c73="" class="product-property__title"> Beans: <small _ngcontent-rvj-c73="" class="product-property__title-hint"><span _ngcontent-rvj-c73=""><span _ngcontent-rvj-c73="" translate="">Required</span><!----><!----><!----><!----><!----></span><!----><!----></small></h3><label _ngcontent-rvj-c73=""
                    class="product-property__value"><div _ngcontent-rvj-c73="" class="product-property__value--control"><input _ngcontent-rvj-c73="" type="radio" name="Beans:"><span _ngcontent-rvj-c73="">Arabica Blend</span></div><!----><!----><div _ngcontent-rvj-c73="" class="product-property__value--price"><!----></div></label>
                <label _ngcontent-rvj-c73="" class="product-property__value">
                    <div _ngcontent-rvj-c73="" class="product-property__value--control"><input _ngcontent-rvj-c73="" type="radio" name="Beans:"><span _ngcontent-rvj-c73="">Single Origin - Columbia Panche</span></div>
                    <!---->
                    <!---->
                    <div _ngcontent-rvj-c73="" class="product-property__value--price"><span _ngcontent-rvj-c73="">+ KWD 0.100</span>
                        <!---->
                    </div>
                    </label><label _ngcontent-rvj-c73="" class="product-property__value"><div _ngcontent-rvj-c73="" class="product-property__value--control"><input _ngcontent-rvj-c73="" type="radio" name="Beans:"><span _ngcontent-rvj-c73="">Decaf</span></div><!----><!----><div _ngcontent-rvj-c73="" class="product-property__value--price"><span _ngcontent-rvj-c73="">+ KWD 0.100</span><!----></div></label>
                <!---->
            </div>
            <!---->
        </div>
        <!---->
    </section>
    <!---->
    <section _ngcontent-rvj-c73="" class="product__extras">
        <h3 _ngcontent-rvj-c73="" class="product-extras__title">
            <!----><span _ngcontent-rvj-c73="" translate="">Extras</span>
            <!----><small _ngcontent-rvj-c73="" class="product-extras__title-hint"><!----><span _ngcontent-rvj-c73=""><span _ngcontent-rvj-c73="" translate="">Optional</span><span _ngcontent-rvj-c73="">, choose up to 1</span><!----></span><!----></small></h3>
        <div _ngcontent-rvj-c73="" class="product-extras__content">
            <div _ngcontent-rvj-c73="" class="product-extras__name"> Extra Shot
                <div _ngcontent-rvj-c73="" class="product-extras__price"><span _ngcontent-rvj-c73="">+ KWD 0.500</span>
                    <!---->
                </div>
            </div>
            <div _ngcontent-rvj-c73="" class="product-extras__controls">
                <button _ngcontent-rvj-c73="" (click)="hideMinusStatus()" [ngClass]="status ? 'product-extras__minus hidden' : 'product-extras__minus'">
                    <svg _ngcontent-rvj-c73="" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 13 19">
                        <use _ngcontent-rvj-c73="" xlink:href="#icon-minus">
                            <svg _ngcontent-fkg-c112="" id="icon-minus" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="svg-icon"><rect _ngcontent-fkg-c112="" height="64" width="384" x="64" y="224"></rect></svg>
                        </use>
                    </svg>
                </button>
                <div _ngcontent-rvj-c73="" [ngClass]="status ? 'product-extras__selected hidden' :'product-extras__selected'"> {{extraShot}} </div>

                <button _ngcontent-rvj-c73="" [ngClass]="status ? 'product-extras__plus' : 'product-extras__plus hidden'" (click)="hidePlusStatus()">
                    <svg _ngcontent-rvj-c73="" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 13 19"><use _ngcontent-rvj-c73="" xlink:href="#icon-plus">

                        <svg _ngcontent-bdc-c112="" id="icon-plus" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg" stroke="none" stroke-width="0" class="svg-icon"><rect _ngcontent-bdc-c112="" fill="none"></rect><path _ngcontent-bdc-c112="" d="M20 6C19.1716 6 18.5 6.67157 18.5 7.5V18.5H7.5C6.67157 18.5 6 19.1716 6 20C6 20.8284 6.67157 21.5 7.5 21.5H18.5V32.5C18.5 33.3284 19.1716 34 20 34C20.8284 34 21.5 33.3284 21.5 32.5V21.5H32.5C33.3284 21.5 34 20.8284 34 20C34 19.1716 33.3284 18.5 32.5 18.5H21.5V7.5C21.5 6.67157 20.8284 6 20 6Z" fill="#0A213A"></path></svg>
                    </use>
                    </svg>
                </button>
            </div>
        </div>
        <!---->
    </section>
    <!---->
    <!---->
    <section _ngcontent-rvj-c73="" class="product-note">
        <div _ngcontent-rvj-c73="" class="product-note__control">
            <app-autogrow-textarea _ngcontent-rvj-c73="" _nghost-rvj-c72="" class="ng-untouched ng-pristine ng-valid">
                <div _ngcontent-rvj-c72="" class="form-group form-group--wide form-group--no-margin form-group--floating-label"><textarea _ngcontent-rvj-c72="" type="text" maxlength="100" class="form-control autogrow-textarea" rows="1" placeholder=" " style="height: 36px;">  </textarea><label _ngcontent-rvj-c72="" class="form-label">Enter special instructions</label>
                    <!---->
                </div>
            </app-autogrow-textarea>
        </div>
    </section>
    <!---->
    <section _ngcontent-rvj-c73="" class="product-amount">
        <h3 _ngcontent-rvj-c73="" translate="" class="product-amount__title">Amount of products</h3>
        <div _ngcontent-rvj-c73="" class="product-amount__controls"><button _ngcontent-rvj-c73="" class="product-amount__minus hidden"><svg _ngcontent-rvj-c73="" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 13 19"><use _ngcontent-rvj-c73="" xlink:href="#icon-minus"></use></svg></button>
            <div _ngcontent-rvj-c73="" class="product-amount__selected product-amount__selected--one">1</div><button _ngcontent-rvj-c73="" class="product-amount__plus"><svg _ngcontent-rvj-c73="" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 13 19"><use _ngcontent-rvj-c73="" xlink:href="#icon-plus"></use></svg></button></div>
    </section>
    <!---->
</article>
<app-footer></app-footer>