<div _ngcontent-lpy-c118="" class="root ltr" dir="ltr">
    <div _ngcontent-lpy-c118="" id="root" class="inner-root">
        <router-outlet _ngcontent-lpy-c118=""></router-outlet>
        <!-- <app-header></app-header> -->

    </div>

    <aside _ngcontent-lpy-c118="" class="desktop">
        <app-desktop-menu _ngcontent-lpy-c118="" _nghost-lpy-c114="">
            <nav _ngcontent-lpy-c114="" class="desktop-menu">
                <div _ngcontent-lpy-c114="" class="desktop-menu__links">
                    <a _ngcontent-lpy-c114="" routerlink="/menu" routerlinkactive="desktop-menu__link--active" translate="" class="desktop-menu__link desktop-menu__link--active" href="/menu">Menu</a>
                    <a _ngcontent-lpy-c114="" routerlink="/branch-locations" routerlinkactive="desktop-menu__link--active" translate="" class="desktop-menu__link" href="/branch-locations">Branches</a>
                </div>
                <div _ngcontent-lpy-c114="" class="desktop-menu__actions">
                    <!---->
                    <!---->
                    <span _ngcontent-lpy-c114="" class="desktop-menu__icon">
                            <app-language-switcher _ngcontent-lpy-c114="" _nghost-lpy-c62="">
                                <div _ngcontent-lpy-c62="" class="language-change-button">
                                    <div _ngcontent-lpy-c62="" hidden="">
                                        <svg _ngcontent-lpy-c62="" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 26"><use _ngcontent-lpy-c62="" xlink:href="#icon-lang-en"></use></svg>
                                    </div>
                                    <div _ngcontent-lpy-c62="">
                                        <svg _ngcontent-lpy-c62="" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 22"><use _ngcontent-lpy-c62="" xlink:href="#icon-lang-ar"></use></svg>
                                    </div>
                                </div>
                            </app-language-switcher>
                        </span>
                    <!---->
                </div>
            </nav>
        </app-desktop-menu>
        <app-desktop-picture _ngcontent-lpy-c118="" _nghost-lpy-c115="">
            <div _ngcontent-lpy-c115="" class="desktop-picture__shadow">
                <div _ngcontent-lpy-c115="" class="desktop-picture desktop-picture__loaded" style="background-image: url('https://dml32v1x15q41.cloudfront.net/v1/image/static/0693e8eb-e4c5-4084-b301-ce01d4c0a14a/1519x754');"></div>
                <div _ngcontent-lpy-c115="" class="desktop-picture"></div>
                <div _ngcontent-lpy-c115="" class="desktop-picture__business-info">
                    <img _ngcontent-lpy-c115="" class="desktop-picture__business-logo desktop-picture__business-logo--hide" src="https://dml32v1x15q41.cloudfront.net/v1/image/static/151cac73-d641-4de4-b8ad-55d74a859e9f/120x120" alt="% ΔRΔBICΔ" />
                    <!---->
                    <!---->
                </div>
            </div>
        </app-desktop-picture>
    </aside>
    <!---->
</div>