<app-toolbar transparencychangeanchorselector=".menu-business__content">

</app-toolbar>

<main class="menu-wrapper">
    <section class="menu-business">
        <div class="menu-business__photo-wrapper">
            <div class="menu-business__photo">
                <app-aspect-ratio-image _nghost-lpy-c47="">
                    <div _ngcontent-lpy-c47="" class="product-image__wrapper" style="width: 640px; height: 422px;">
                        <img _ngcontent-lpy-c47="" class="product-image__image" src="https://dml32v1x15q41.cloudfront.net/v1/image/static/0693e8eb-e4c5-4084-b301-ce01d4c0a14a/640x422" alt="% ΔRΔBICΔ" width="640" height="422" srcset="https://dml32v1x15q41.cloudfront.net/v1/image/static/0693e8eb-e4c5-4084-b301-ce01d4c0a14a/800x527 2x"
                        />
                        <!---->
                        <!---->
                        <!---->
                    </div>
                </app-aspect-ratio-image>
            </div>
            <div class="menu-business__content">
                <img class="menu-business__logo menu-business__logo--hide" src="https://dml32v1x15q41.cloudfront.net/v1/image/static/151cac73-d641-4de4-b8ad-55d74a859e9f/100x100" alt="% ΔRΔBICΔ" />
                <!---->
                <!---->
            </div>
        </div>
        <!---->
        <!---->
        <div class="menu-business__row">
            <!---->
            <!---->
        </div>
        <!---->
        <!---->
        <!---->
        <div class="menu-business__description"></div>
        <!---->
    </section>
    <section>
        <app-promo-code-list _nghost-lpy-c49="">
            <!---->
            <ngx-smart-modal _ngcontent-lpy-c49="" customclass="storefront-modal-dialog">
                <!---->
            </ngx-smart-modal>
        </app-promo-code-list>
    </section>
    <section class="menu">
        <div>
            <h2 translate="" class="menu__categories">Menu</h2>
            <app-products></app-products>
            <section class="menu__powered">
                <app-powered-by _nghost-lpy-c59="">
                    <div _ngcontent-lpy-c59="" class="powered-by">
                        <bdi _ngcontent-lpy-c59="" class="powered-by__line">
                            <span _ngcontent-lpy-c59="" class="powered-by__text">
                                <a _ngcontent-lpy-c59="" href="https://ordr.direct" target="_blank" class="powered-by__brand">
                                    <svg _ngcontent-lpy-c59="" width="140" height="28"><use _ngcontent-lpy-c59="" xlink:href="#icon-powered"></use></svg>
                                    <!----><!---->
                                </a>
                            </span>
                        </bdi>
                    </div>
                </app-powered-by>
            </section>
        </div>
        <app-search-results _nghost-lpy-c66="">
            <!---->
            <!---->
        </app-search-results>
        <!---->
    </section>
</main>